@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 217, 19%, 13%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210, 15%, 26%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 210, 16%, 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 218, 30%, 34%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent:223, 97%, 54%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 214, 12%, 35%;
    --input: 210, 11%, 29%;
    --ring: 214, 17%, 16%;

    --gas:hsl(210, 15%, 26%);
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    box-sizing: border-box;
  }
}